[submodule "fuel/core"]
	path = fuel/core
	url = https://github.com/fuel/core
[submodule "fuel/packages/orm"]
	path = fuel/packages/orm
	url = https://github.com/fuel/orm
[submodule "fuel/packages/oil"]
	path = fuel/packages/oil
	url = https://github.com/fuel/oil
[submodule "fuel/packages/auth"]
	path = fuel/packages/auth
	url = https://github.com/fuel/auth
[submodule "fuel/packages/email"]
	path = fuel/packages/email
	url = https://github.com/fuel/email
[submodule "fuel/packages/parser"]
	path = fuel/packages/parser
	url = https://github.com/fuel/parser
[submodule "public/assets/shared"]
	path = public/assets/shared
	url = https://github.com/TeamPalmTree/assets.git
[submodule "fuel/packages/less"]
	path = fuel/packages/less
	url = https://github.com/TeamPalmTree/fuel-less
[submodule "fuel/app"]
	path = fuel/app
	url = https://github.com/TeamPalmTree/teampalmtree
[submodule "fuel/packages/shared"]
	path = fuel/packages/shared
	url = https://github.com/TeamPalmTree/shared
